// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dark-green: #668B46; // Leandro
$light-green: #7ACF21; // Leandro
$branco: #769353;  //leandro
$branco-creme: #F4FFD4;  // leandro

$dark-green1: #344E41; // Arthur
$dark-green2: #3A5A40; // Arthur
$dark-green3: #588157; // Arthur
$light-green1: #9CEC5B; // Arthur
$orange-yellow: #F3CF6D; // Arthur
$orange-champagne: #F2CC8F;
$rosa: rgb(238, 105, 134);
