// Specific CSS for your home-page

.home-how-it-works {
  text-align: center;
}

.home2-section {
  position: relative;
  padding: 120px 0;
  background: white;
}

.home4e6-section {
  position: relative;
  padding: 120px 0;
  background: green; //
}

.home4e6-description h1, h5, p {
  color:white
}

.home5 {
  position: relative;
  padding: 85px 0;
}

.home5-description h5, p {
  color: black;
}

.home-section {
  position: relative;
  padding: 85px 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

.container_signin {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 141px;
  justify-content: space-around;
  display: flex;
}

.container_user1 {
  margin-top: 180px;
  margin-left: 200px;
}
.container_user2 {
  margin-top: 100px;
}

.container_address {
  margin-top: 150px;
}

.address {
  margin-bottom: 20px;
}

.container_score {
  margin-top: 120px;
  margin-left: 100px;
}

.container_proposal {
  margin-top: 120px;
  margin-left: 100px;
}

.proposal {
  margin-left: 720px;
  margin-top: 77px;
}

.score1 {
  margin-top: 50px;
  margin-left: 500px;
}

.score2 {
  position: relative;
  margin-top: -554px;
  margin-left: 900px;
}

.container-branco {
  padding-right: 15px;
  padding-left: 15px;
  background: white;
}

.container-verde {
  padding-right: 15px;
  padding-left: 15px;
  background: green; //
}

.home-hiw-row {
  margin: 50px auto;
  font-family: Open Sans,sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
  padding-left: 0;
  list-style: none;
}

.home-hiw-row li {
  padding: 0 50px;
}

.home-bullet-point-1, .home-bullet-point-2, .home-bullet-point-3 {
  position: relative;
}

.color-green {
  color: green;
}
