<div class="card profile">
        <img src="https://images.unsplash.com/photo-1612428978260-2b9c7df20150?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt="Image">
        <div class="details">
            <h2>Stevie Blight</h2>
            <p>Director</p>
        </div>
        <p id="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  <div class="nois text-center">
    <div class="card-body">

      <p class="card-text"><h1>Olá, Produtor</h1> </p>
      <%= link_to 'Endereco', new_user_address_path(current_user.id), class: 'btn btn-success' %>
      <%= link_to 'Crédito', new_loan_proposal_path, class: 'btn btn-success' %>
    </div>
  <div class="progress" style="height: 3px">
    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>

  <!-- Progress Bar -->
<div class="container3">
  <ul class="progressbar">
    <li class="active">Step 1</li>
    <li class="active">Step 2</li>
    <li class="active"> Step 3</li>
  </ul>
</div>
