<div class="home-banner">
  <h1>Crédito para o
  produtor rural</h1>
  <h1>
  <span data-controller="typed-js"></span>
  </h1>
</div>

<div class="container">
  <section class="home-section home-how-it-works mt-2">
    <div class="row justify-content-center align-items-center">
      <div class="col-6 image_wrapper">
        <img class="scale-with-grid" src="https://nagro.com.br/wp-content/uploads/2021/05/celular-nagro-2.png" alt="celular-nagro-2" title="" width="320" height="550">
      </div>

      <div class="col-6 align-items-center">
        <h1 style="color:#0E0000;"> Crédito na palma <br> da sua mão. <br> Sem sair da fazenda, <br> a solicitação é <br>  100% digital.</h1>
        <a class="btn btn-agro mt-2" href="">Conheça as linhas de Crédito</a>
      </div>
    </div>
  </section>

  <!-- ####### -->
  <section class="home-section home-how-it-works">
    <h3><strong>Como funciona o empréstimo com a AgroCash?</strong></h3>
    <div class="row mt-5">
      <div class="col-6 justify-content-space-between">
        <h4>A AgroCash conecta <strong>agricultores</strong> <br>que precisam de crédito a <strong>pessoas e instituições</strong> <br>com dinheiro para emprestar</h4>
        <div class="elementor-widget-container">
        <img src="https://www.nexoos.com.br/wp-content/uploads/elementor/thumbs/Imagem-Rapaz-Poltrona-phypkaxdyqafvwig4j3foem4u8hv3patmw5r49wtl2.png" title="Imagem Rapaz Poltrona" alt="Imagem Rapaz Poltrona" height="400"> </div>
      </div>

      <div class="col-6 justify-content-space-between">
        <div class="card-home3">
          <div class="card-home3-infos">
            <figure class="card-home3-image">
              <img width="20" height="20" src="https://www.nexoos.com.br/wp-content/uploads/2021/12/Conta-corrente-1.png" class="attachment-full size-full" alt="" loading="lazy">
              <h2> 1. Faça sua solicitação</h2>
            </figure>

            <p class="text-start">Informe o valor que deseja de empréstimo e <strong>cadastre-se</strong> na platorma para preencher os seus dados</p>
          </div>
        </div>

        <div class="card-home3 mt-3">
          <div class="card-home3-infos">
            <figure class="card-home3-image">
              <img width="20" height="20" src="https://www.nexoos.com.br/wp-content/uploads/2021/12/Lupa.png" class="attachment-full size-full" alt="" loading="lazy">
              <h2> 2. Análise de crédito</h2>
            </figure>

            <p class="text-start">Nosso time de crédito <strong>analisa</strong> a sua solicitação e, se aprovada, enviamos a proposta comercial</p>
          </div>
        </div>

        <div class="card-home3 mt-3">
          <div class="card-home3-infos">
            <figure class="card-home3-image pr-5px">
              <img width="20" height="20" src="https://www.nexoos.com.br/wp-content/uploads/2021/12/PC.png" class="attachment-full size-full" alt="" loading="lazy">
              <h2> 3. Rodada de capitação</h2>
            </figure>

            <p class="text-start">Com a documentação necessária, iniciamos a <strong>rodada de captação</strong>, onde a empresa receberá aportes de investidores até alcançar o valor desejado</p>
          </div>
        </div>

        <div class="card-home3 mt-3">
          <div class="card-home3-infos">
            <figure class="card-home3-image">
              <img width="20" height="20" src="https://www.nexoos.com.br/wp-content/uploads/2021/12/Mao.png" class="attachment-full size-full" alt="" loading="lazy">
              <h2> 4. Dinheiro na sua conta</h2>
            </figure>

            <p class="text-start">Após assinar o contrato, <strong>receba o valor</strong> em sua conta e realize os pagamentos mensalmente.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ############ -->
  <section class="home-4">
    <div class="text-center">
      <h1>Nossos números</h1>
      <h5>Agricultor</h5>
      <p class="p-5"><%="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum temporibus, eveniet nobis dolorum excepturi aspernatur nulla ad expedita corporis hic aliquam facere officiis illo necessitatibus. Dolore numquam at porro quos!" * 2%></p>
    </div>

    <div class="cards-agricultor pt-2">
      <div class="card-category">
        <div class="card-agricultor-info text-center">
          <h2 class="">Valor emprestago para agricultores</h2>
          <h1 class="pt-4">R$ 537.344.890,00</h1>
          <a class="mt-4 btn btn-agro" href="">Solicitar Agora</a>
        </div>
      </div>

      <div class="card-category">
        <div class="card-agricultor-info text-center">
          <h2 class="">Valor emprestago para agricultores</h2>
          <h1 class="pt-4">R$ 537.344.890,00</h1>
          <a class="mt-4 btn btn-agro" href="">Solicitar Agora</a>
        </div>
      </div>
    </div>
  </section>

<!-- ### Home5 ### -->
<section class="home-section home-how-it-works">
    <div class="text-center">
      <h1>Invista com rentabilidade acima da média do mercado</h1>
      <h5>Como funciona os investimentos com a AgroCash</h5>
      <p class="p-5"><%="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum temporibus, eveniet nobis dolorum excepturi aspernatur nulla ad expedita corporis hic aliquam facere officiis illo necessitatibus. Dolore numquam at porro quos!"%></p>
    </div>

    <div class="cards-investidor pt-2">
      <div class="card-category">
        <div class="card-investidor-info">
          <h2>Faça o seu cadastro</h2>
          <p>xxx xx xx xxxx xxx xxxxx xxxx x xxxx xxx xxx xx xxxxxx xxxxxx</p>
        </div>
      </div>

      <div class="card-category">
        <div class="card-investidor-infos">
          <h2>Rodadas de investimento</h2>
          <p>xxx xx xx xxxx xxx xxxxx xxxx x xxxx xxx xxx xx xxxxxx xxxxxx</p>
        </div>
      </div>

      <div class="card-category">
        <div class="card-investidor-infos">
          <h2>Invista em empresas</h2>
          <p>xxx xx xx xxxx xxx xxxxx xxxx x xxxx xxx xxx xx xxxxxx xxxxxx</p>
        </div>
      </div>

      <div class="card-category">
        <div class="card-investidor-infos">
          <h2>receba mensalmente</h2>
          <p>xxx xx xx xxxx xxx xxxxx xxxx x xxxx xxx xxx xx xxxxxx xxxxxx</p>
        </div>
      </div>
    </div>
  </section>


  <!-- ## Home6 ## -->
  <section>
    <div class="text-center">
      <h1>Nossos números</h1>
      <h5>investidor</h5>
      <p class="p-5"><%="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum temporibus, eveniet nobis dolorum excepturi aspernatur nulla ad expedita corporis hic aliquam facere officiis illo necessitatibus. Dolore numquam at porro quos!"%></p>
    </div>

    <div class="cards-home6 pt-2">
      <div class="card-category">
        <div class="card-agricultor-info text-center">
          <h2 class="">Investimentos Realizados</h2>
          <h1 class="pt-4">R$ 537.344.890,00</h1>
          <a class="mt-4 btn btn-agro" href="">Solicitar Agora</a>
        </div>
      </div>

      <div class="card-category">
        <div class="card-agricultor-info text-center">
          <h2 class="">Investidores Cadastrados</h2>
          <h1 class="pt-4">R$ 537.344.890,00</h1>
          <a class="mt-4 btn btn-agro" href="">Solicitar Agora</a>
        </div>
      </div>

      <div class="card-category">
        <div class="card-agricultor-info text-center">
          <h2 class="">Valor emprestago para agricultores</h2>
          <h1 class="pt-4">R$ 537.344.890,00</h1>
          <a class="mt-4 btn btn-agro" href="">Solicitar Agora</a>
        </div>
      </div>
    </div>
  </section>
</div>
