
.home-banner {
  background-image: url('https://images.unsplash.com/photo-1463674823222-8dc9a1f1733d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-size: cover;
  height: 100vh;
  color: black;
  font-weight: bold;
  text-align: center;
  padding-top: 40vh;
}
